.DS_Store

# .config配下を全てignore
.config/**

# .config配下の特定のファイルをignoreから除外（追跡する）
!/.config/karabiner/
!/.config/karabiner/karabiner.json
!/.config/karabiner/assets/
!/.config/karabiner/assets/complex_modifications/
!/.config/karabiner/assets/complex_modifications/*.json
!/.config/starship/
!/.config/starship/starship.toml

# Ignore user-specific gitconfig
.gitconfig_user
